.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 73, 67);
}

.globSquare {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 80px;
  border: 5px solid #fff;
  width: 100px;
  height: 100px;
}
.square:hover {
  background-color: rgb(235, 133, 0);
}
.resultat {
  color: #fff;
  font-weight: 600;
  font-size: x-large;
}
